<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">   
</head>
<body>
    <img id="logoPolyDessin" src="../../../assets/POLYDESSIN.svg" alt="Logo du site"  class="responsive">
    <button class="createDrawingButton createDrawingButton-tablet" (click)="this.openDialogService.openDialog()">CREER UN DESSIN</button> 
    <button  class="continueDrawingButton continueDrawingButton-tablet" routerLink ="/drawingview" >CONTINUER DESSIN</button >
    <button class="drawingGalleryButton drawingGalleryButton-tablet" routerLink ="/gallery">GALLERIE DESSIN</button>   
    <button class="guideButton" routerLink ="/userguide"> ? </button>
</body>
</html>
